.form__input{
    width: 200px;
    height: 37px;
    margin-right: 16px;
    padding: 0 12px 0;
    background: #E9E9E9;
    border: 0.5px solid #C6C6C6;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
}

.form__input-popup{
    margin-bottom: 20px
}