@import './__logo/header__logo.css';
@import './__content/header__content.css';
@import './__navigation/header__navigation.css';
.header{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.arrow {
 width: 7px;
 height: 7px;
 border-top: 1px solid black;
 border-right: 1px solid black;
 transform: rotate(135deg);
 margin-left: 10px;
 margin-top: 12px;
} 

.arrow__link{
    position: absolute;
    top: 0;
    margin: 0;
}

.menu__element:hover .arrow{
    transform: rotate(-45deg);
    margin-top: 15px;
}